body {
  transition: all 0.5s ease-in-out;
  height: 100%;
 
}

div#root {
  background-color: whitesmoke;
}

#brokers,
#calculator {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/images/Hero.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-weight: 700;
  font-size: large;
}

// #brokers {
//   background-image: url("../../public/images/calculator.jpeg");

// }

// #calculator {
//   background-image: url("../../public/images/calculator.jpeg");
// }


.profile img {
  width: 100%;
  height: 50wh;
  text-align: center;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



button.btn {
  font-weight: 200;
  background-color: grey;
  padding: 10px 20px;
}

button.btn:hover {
  background-color: darkblue;
  border: 1px solid orange;
  transform: translate(0px, -4px);
}


div#home {
  margin-top: 10%;
  font-weight: 700;
  font-size: x-large;
}


.res-container {
  border-radius: 5px;
  opacity: 0.85;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
  
}

.calc-card.card {
  background-color: #0080FF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
 
  
}

.footer-container {
  padding-top: 25px;
}

.dashboard-container.card {
  background-color: #0080FF;
  font-weight: 700;
  font-size: x-large;
  height: 150px;

}

#dashboard {
  padding-top: 10%;
  font-weight: 700;
  font-size: x-large;
}

input#formBasicCity.form-control {
  width: 30%;
}




/* Broker List
**************************************************** */
#broker-list {

  figure img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

 .panel {
  // background-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
    .content {
      padding: 1.3rem;
      
    }


    .content p {
      line-height: 0.7rem;
    }    
  }
}


.table-list {
  background-color: lightgray;
  opacity: .80;
}

.table-list.card {
  background-color:#0080FF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

div.add-request.card {
  background-color:#0080FF;
  opacity: 0.80;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.add-request.card.h2 {
  font-weight: 700;
}

.modal-body {
  font-weight: 700;
}

.modal-body.h2 {
  font-weight: 700;
}

.dashboard-container.card {
  opacity: 0.80;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 2%;
  background-color: lightgray;
}

.calc-card h2 {
  font-weight: 700;
}
.calc-card {
  opacity: 0.93;
}

.res-container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 15px;
  
}

.res-container h2{
  font-weight: 700;
}

.register-card.card {
  background-color: #0080FF;
  opacity: .85;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.register-card h2 {
  font-weight: 700;
}

.login-card.card {
  opacity: 0.85;
  background-color:#0080FF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-card h2 {
  font-weight: 700;
}

// Navbar 

.nav-bar {
  background-color: whitesmoke;
  opacity: 0.75;
  font-weight: 700;
}

.navbar-expand .navbar-nav {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-bar.navbar.navbar-expand.navbar-light {
  padding-left: 15px;
  padding: 10px;
  
}








