.card {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 2%;
  background-color: lightgray;
  opacity: 0.85;
  
}
.card h2 {
  font-weight: 700;
}



.res-container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 15px;
  
}

.res-container h2{
  font-weight: 700;
}